
<form class="form-horizontal center" role="form" method="post" action="/add">
    <div class="form-group">
        <label for="username" class="col-sm-4">
            <span class="red">*</span>NickName:
        </label>
            <input type="text" required class="col-sm-7" id="username"  name="username" placeholder="Pick a nickname ">
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-4">
            <span class="red">*</span>Cipher:
        </label>
            <input type="password" required class="col-sm-7" id="password"  name="password" placeholder="Create a cipher">
    </div>
    <div class="form-group">
        <label for="password2" class="col-sm-4">
            <span class="red">*</span> Confirm-Cipher:
        </label>
            <input type="password"class="col-sm-7" required name="password2"  id="password2" placeholder="Confirm cipher " >
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-4">
               <span class="red">*</span> Mobile-Number:
        </label>

            <input type="text"required class="col-sm-7" name="phone"  id="phone" placeholder="Your  Mobil Number " >

    </div>
    <div class="form-group">
        <label for="email" class="col-sm-4">
            <span class="red">*</span>  E-Mail:
        </label>
            <input type="email"class="col-sm-7"required name="email"  id="email" placeholder="you@example.com" >
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-info">
                REGISTRATION
            </button>
        </div>
    </div>
</form>
